[Desktop Entry]
Encoding=UTF-8
Name=IceWM
Name[az]=IceWM
Name[be]=IceWM
Name[ca]=IceWM
Name[cs]=IceWM
Name[cy]=IceWM
Name[da]=IceWM
Name[de]=IceWM
Name[el]=IceWM
Name[es]=IceWM
Name[et]=IceWM
Name[fi]=IceWM
Name[fr]=IceWM
Name[he]=IceWM
Name[hi]=IceWM
Name[hu]=IceWM
Name[it]=IceWM
Name[ja]=IceWM
Name[ko]=IceWM
Name[ms]=IceWM
Name[nl]=IceWM
Name[nn]=IceWM
Name[no]=IceWM
Name[pl]=IceWM
Name[pt]=IceWM
Name[pt_BR]=IceWM
Name[ro]=IceWM
Name[ru]=IceWM
Name[sk]=IceWM
Name[sl]=IceWM
Name[sq]=IceWM
Name[sr]=IceWM
Name[sr@Latn]=IceWM
Name[sv]=IceWM
Name[tr]=IceWM
Name[uk]=IceWM
Name[vi]=IceWM
Name[wa]=IceWM
Name[zh_CN]=IceWM
Name[zh_TW]=IceWM
Comment=This session logs you into IceWM
Comment[az]=Bu iclas sizi Icewm'a daxil ed?c?k
Comment[be]=?????? ????? ????????????? ????? ? Icewm
Comment[ca]=Aquesta sessi?? entra en Icewm
Comment[cs]=Toto sezen?? v??s p?ihl??s?? do Icewm
Comment[cy]=Mae'r sesiwn hwn yn eich mewngofnodi i Icewm
Comment[da]=Denne session logger dig p?? Icewm
Comment[de]=Diese Sitzung meldet Sie an Icewm an
Comment[el]=????? ?? ????????????? ???? ????????????? ???? Icewm
Comment[es]=Con esta sesi??n accede a Icewm
Comment[fi]=T??m?? istunto kirjaa sis????n Icewmen
Comment[fr]=Cette session vous connectera dans Icewm
Comment[he]=????????? ??????? ?? ??????? ????? ? Icewm
Comment[hi]=?????? ??????????? ?????????? ??????? ????????????? ??????????
Comment[hu]=Ez a munkamenet a Icewm-ba jelentkeztet be
Comment[it]=Sessione di lavoro con Icewm
Comment[ja]=Icewm ???????????????????????
Comment[ko]=Icewm??????? ????????????
Comment[ms]=Sesi ini akan log anda  ke Icewm
Comment[nl]=Deze sessie meldt u aan bij Icewm
Comment[nn]=Denne ??kta loggar p?? Icewm
Comment[no]=Denne sesjonen logger deg inn til Icewm
Comment[pl]=Sesja logowania do Icewm
Comment[pt]=Esta sess??o inicia-o no Icewm
Comment[pt_BR]=Logar no ambiente Icewm
Comment[ro]=Aceast? sesiune v? va loga ??n Icewm
Comment[sk]=Toto sedenie v??s prihl??si do prostredia Icewm
Comment[sl]=Ta seja vas prijavi v Icewm
Comment[sq]=Kjo seanc?? do t'ju fus?? n?? Icewm
Comment[sr]=????? ????????? ????? ??????????????? ???? Icewm
Comment[sr@Latn]=Ova sesija vas prijavljuje na Icewm
Comment[sv]=Denna session loggar in dig i Icewm
Comment[tr]=Bu oturum ile Icewm'a giri? yapars??n??z
Comment[uk]=????????? ?????????? ?? ???????????????? Icewm
Comment[vi]=Session n??y cho b???n ??ng nh???p v??o Icewm
Comment[zh_CN]=?????????????????? Icewm
Comment[zh_TW]=????????????????????? Icewm ????
Exec=icewm-session
TryExec=icewm-session
# no icon yet, only the top three are currently used
Icon=
Type=Application
